.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.container {
  position: relative;
  background: var(--gray-500);
  width: 100%;
  max-width: 64rem;
  height: 90%;
  max-height: 45rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--green-500-30-opacity);
}

.homeButton {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}

.homeButton img,
.homeButton svg {
  display: block;
  width: 20px;
  height: 20px;
}

.homeButton:hover {
  opacity: 0.8;
}

.container h2 {
  font-weight: bold;
  color: var(--green-500);
  margin: 1rem 0;
}

.container p {
  text-align: justify;
}

.divider {
  border-left: 2px solid var(--gray-200);
  height: 100%;
  margin: 3rem;
}

.profileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileContent img {
  width: 12rem;
  margin-bottom: 3rem;
}

.profileContent p {
  text-align: center;
  font-size: 0.875rem;
}

.profileContent a img {
  width: 80%;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
    max-height: 90%;
    display: flex;
    flex-direction: column;
  }

  .divider {
    display: none;
  }

  .container h2 {
    font-size: 0.5rem;
  }

  .container p {
    font-size: 0.5rem;
  }

  .homeButton {
    margin: 1rem 0;
  }

  .profileContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
  }

  .profileContent img {
    display: none;
  }

  .profileContent a img {
    display: flex;
    flex-direction: column;
    width: 1rem;
    height: 1rem;
  }

  .author {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 1rem;
    max-height: 90%;
    display: flex;
    flex-direction: column;
  }

  .divider {
    display: none;
  }

  .container h2 {
    font-size: 0.5rem;
  }

  .container p {
    font-size: 0.5rem;
  }

  .homeButton {
    margin: 1rem 0;
  }

  .profileContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
  }

  .profileContent img {
    display: none;
  }

  .profileContent a img {
    display: flex;
    flex-direction: column;
    width: 1rem;
    height: 1rem;
  }

  .author {
    margin: 0;
  }
}
