.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.container {
  position: relative;
  background: var(--gray-500);
  width: 90%;
  max-width: 35rem;
  height: 90%;
  max-height: 45rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--green-500-30-opacity);
  flex-direction: column;
}

.container img {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  max-width: 80%;
  height: auto;
}

.description {
  text-align: center;
  display: flex;
}

.buttons {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  justify-content: center;
  width: 60%;
}

.inputEmail {
  border: 1px solid var(--gray-200);
  border-radius: 12px;
  background: var(--gray-300);
  height: 3.5rem;
  padding: 1rem;
  color: var(--white);
  width: 100%;
  margin: 1rem 0;
}

.sendButton {
  height: 3.5rem;
  padding: 1rem;
  color: var(--white);
  background-color: var(--green-500);
  border-radius: 12px;
  border: 1px solid var(--green-500);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.sendButton:hover {
  transform: scale(1.05);
  background: var(--green-400);
}

.sendButton:disabled {
  background: var(--green-300);
  cursor: not-allowed;
  opacity: 0.4;
  color: var(--white);
  border: 1px solid var(--green-400);
}

.turnBackButton {
  height: 3.5rem;
  padding: 1rem;
  color: var(--white);
  background-color: var(--danger);
  border-radius: 12px;
  border: 1px solid var(--danger);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.turnBackButton:hover {
  transform: scale(1.05);
  background: var(--danger-hover);
}

.notification {
  position: fixed;
  top: 1.2rem;
  right: 1.2rem;
  padding: 0.875rem 1.5rem;
  border-radius: 12px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

.successNotification {
  background-color: var(--green-500);
  color: var(--white);
}

.errorNotification {
  background-color: var(--danger);
  color: var(--white);
}

.error {
  color: var(--danger);
  margin-top: 0.5rem;
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 1.5rem;
    height: 90%;
  }

  .turnBackButton,
  .registerButton {
    height: 4rem;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .container img {
    max-width: 70%;
  }

  .turnBackButton {
    width: 100%;
  }
}
