.wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: 99px 1fr;
  place-items: center;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: var(--gray-700);
  padding: 1rem;
  max-height: 12.5rem;
  justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo h2 {
    color: var(--white);
}

.logo img {
  display: flex;
  max-height: 3rem;
  margin-left: 1rem;
}

.login {
    display: flex;
    align-items: center;
}

.login img {
    max-width: 2rem;
    margin-right: 1rem;
}

.homeButton {
    cursor: pointer;
    background: none;
    border: none;
}

@media (max-width: 768px) {
  .content {
    padding: 1rem;
  }
}
