.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.container {
  background: var(--gray-500);
  width: 90%;
  max-width: 35rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--green-500-30-opacity);
  flex-direction: column;
}

.container img {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: 20%;
  max-width: 10rem;
  height: auto;
}

.registerInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 28rem;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.registerForm input {
  border: 1px solid var(--gray-200);
  border-radius: 12px;
  background: var(--gray-300);
  height: 3.5rem;
  padding: 1rem;
  color: var(--white);
  width: 100%;
}

.divider {
  border: 1px solid var(--gray-200);
  width: 100%;
  max-width: 28rem;
  margin-top: 2rem;
}

.registerButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.registerButton {
  height: 3.5rem;
  padding: 1rem;
  color: var(--white);
  background-color: var(--green-500);
  border-radius: 12px;
  border: 1px solid var(--green-500);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  width: 100%;
  max-width: 15rem;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.registerButton:hover {
  transform: scale(1.05);
  background: var(--green-400);
}

.registerButton:disabled {
  background: var(--green-300);
  cursor: not-allowed;
  opacity: 0.4;
  color: var(--white);
  border: 1px solid var(--green-400);
}


.turnToLoginPage {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.turnBackButton {
  height: 3.5rem;
  padding: 1rem;
  color: var(--white);
  background-color: var(--danger);
  border-radius: 12px;
  border: 1px solid var(--danger);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  width: 100%;
  max-width: 15rem;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.turnBackButton:hover {
  transform: scale(1.05);
  background: var(--danger-hover);
}

.passwordRules {
  margin: 0.5rem 0;
  padding-left: 1rem;
  font-size: 0.875rem;
  color: var(--danger);
}

.passwordRules li {
  list-style: none;
}

.validRule {
  color: var(--green-400);
  text-decoration: line-through;
}

.invalidRule {
  color: var(--danger)
}

.error {
  color: var(--danger);
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 1.5rem;
  }

  .registerForm input {
    height: 3rem;
  }

  .turnBackButton,
  .registerButton {
    height: 4rem;
    max-width: 100%;
  }

  .container img {
    width: 20%;
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .registerInfo {
    max-width: 100%;
  }

  .turnBackButton,
  .registerButton {
    width: 100%;
  }

  .container img {
    width: 20%;
    max-width: 120px;
  }
}
